.App {
  font-family: sans-serif;
  text-align: center;
}

/* Elements */
body {
  background-color: #2d2f32;
  color: white;
  font-family: "Didact Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 900;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* Buttons */
.round-button {
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 1.5rem;
  border-width: 2px;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  font-weight: bold;
  transition: 0.3s;
}

.round-button a {
  text-decoration: none;
  color: #f5f5f5;
}

/* Hover effect */
.round-button:hover {
  border: 1px solid #ded223;
  background-color: #2d2f32;
  transform: scale(1.05);
  color: #f5f5f5;
}

.orange {
  border-color: #de3a0d;
  background: none;
}

.green {
  border-color: #23dea7;
  background: none;
}

.purple {
  border-color: #4702de;
  background: none;
}

/* Containers */

.container-fluid {
  text-align: center;
  padding: 5% 15%;
}

/* Images */

.profile-img {
  max-width: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 9px double #e06745;
}

/* Headings */

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* ============= */
/* Title section */
/* ============= */

/* Title section - navbar */

.navbar {
  background-color: #000;
  padding: 1% 15%;
  margin-bottom: 4.5rem;
}

.navbar-button {
  border: none;
  background: none;
  color: #f5f5f5;
}

.navbar-brand {
  font-family: "Gothic A1", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ded223;
  letter-spacing: 0.2rem;
}
/* Title section - Profile */

.Profile h1,
h2 {
  line-height: 1.5;
}

.Profile p {
  text-align: justify;
  line-height: 1.5;
}

.big-heading {
  font-size: 5rem;
}

.mid-col {
  border-left: 3px double red;
}

/* ============= */
/* Resume page　 */
/* ============= */

.accordion {
  --bs-accordion-active-bg: #2d2f32;
  --bs-accordion-bg: #3f3f43;
  --bs-accordion-color: #f5f5f5;
  --bs-accordion-button-active-color: #f5f5f5;
}

.accordion-body h5 {
  margin-bottom: 1.3rem;
}

.accordion-item {
  border-color: #000;
  --bs-accordion-border-color: #ded223;
}

.accordion-button {
  color: #f5f5f5;
}
.accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e06745'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
  color: #23dea7;
}

.resume-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.resume-item {
  font-size: 1rem;
  text-align: left;
  line-height: 1;
}

/* ================ */
/* Projects section */
/* ================ */

.card-title {
  color: #f5f5f5;
  padding: 5% 0;
  background-color: #000;
}

.card-img-top {
  padding: 3%;
}

.card {
  background-color: #42454b;
  padding: 3px;
  max-width: 70vw;
}

.card p {
  text-align: justify;
}

/* =============== */
/* Contact section */
/* =============== */

.contact-form {
  border: #3f3f43 solid 1px;
  border-radius: 10%;
  margin-top: 5%;
  max-width: 400px;
  padding: 3%;
  text-align: left;
}

.form-control {
  background-color: #2d2f32;
  border: #3f3f43 solid 2px;
  color: #f5f5f5;
}

.form-label {
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 10px 0 0;
}

.form-control:focus {
  background-color: #3f3f43;
  border-color: #23dea7;
  color: #f5f5f5;
}

.contact-btn {
  align-items: center;
  color: #f5f5f5;
  justify-content: center;
  line-height: 1;
  border-width: 1px;
  border-radius: 0%;
  font-weight: bold;
  transition: 0.3s;
  margin: 3px 0;
  width: 100%;
  height: 2rem;
  transition: 0.3s;
}

.contact-btn:hover {
  border: 1px solid #ded223;
  background-color: #2d2f32;
  transform: scale(1.05);
  color: #f5f5f5;
}

/* ============== */
/* Footer section */
/* ============== */

.footer-img {
  width: 50px;
  margin: 0 20px 30px;
}

.brand-icon {
  font-size: 1.2rem;
}

.footer-padding {
  background-color: #000;
  margin-top: auto;
  padding: 25px 10%;
  width: 100%;
}

.foot-link {
  font-size: 1rem;
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}

.foot-link:hover {
  color: #ded223;
  text-decoration: underline;
}

@media (min-width: 1920px) {
  .round-button {
    font-size: 2rem;
    width: 10rem;
    height: 10rem;
    margin: 0px;
  }

  .profile-text {
    font-size: 1.3rem;
  }
}
/* Mobile styles */

@media (max-width: 1024px) {
  .big-heading {
    font-size: 4rem;
    text-align: center;
  }

  .resume-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .round-button {
    font-size: 1rem;
    width: 6rem;
    height: 6rem;
  }

  .small-heading {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .big-heading {
    font-size: 3rem;
    text-align: center;
  }

  .resume-heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .accordion-header,
  .accordion-button {
    font-size: 1rem;
  }

  .container-fluid {
    padding: 3% 2%;
  }

  .accordion-body h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .accordion-body p {
    font-size: 0.8rem;
  }

  .round-button {
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-width: 1px;
    border-radius: 0%;
    font-weight: bold;
    transition: 0.3s;
    margin: 3px 0;
    font-size: 0.8rem;
    width: 100%;
    height: 2rem;
  }

  .small-heading {
    text-align: center;
  }

  .card {
    max-width: 80vw;
  }
  .card p {
    font-size: 0.9rem;
  }

  .contact-form {
    border: none;
    text-align: left;
    max-width: 80vw;
  }
}
